.card{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px 25px;
    border: 1px solid #ebebee;
    border-radius: 10px;
    max-width: 300px;

}
.card.completed {
    opacity: .5;
}
.card.completed {
    text-decoration: line-through;
}
.container{
    margin: 20px;
    padding: 10px 20px;
}